@import './../abstracts/_abstracts.scss';
footer {

	ul {
		margin: 2% auto;
	}

	ul li {
		display: inline-block;
		margin: 5px 5px 0 0;
	}

	ul li a{
		text-decoration: none;
		color: #666;
		padding: 5px 10px;
		border-radius: 2px;
		transition: all 0.25s ease;
	}

	ul li a:hover {
		background-color: #DEDEDE;
	}


	.login-footer{
		background-color: #00445A;
		text-align: center;
		font-size: 13px;
		color: white;
		 bottom:0;
    	position:fixed;
    	z-index:150;
    	_position:absolute;
    	_top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    	width: 100%;
	}

}