<!DOCTYPE html>
<html>
<head>
	<title>ColdFusion Fiddle</title>

</head>
<body>
<!-- Container element -->
<div id="app"><%- appHTML %></div>
<!-- Include Script which was created by webpack -->
<script type="text/javascript" src="index_bundle.js"></script>
</body>
</html>